{% extends "core/components/confirm_action.html" %}{% load i18n %}
{% block title %}{% translate "Create portal login" %}{% endblock %}
{% block description %}{% blocktranslate trimmed with name=student.name %}Creates a read-only student login for {{ name }}. It can never see other students.{% endblocktranslate %}{% endblock %}
{% block fields %}
{% translate "Login email (school-issued)" as l %}{% include "core/components/field.html" with name="email" label=l type="email" required=True value=data.email %}
{% translate "Initial password" as l %}{% translate "At least 8 characters. Give it to the student privately." as dsc %}{% include "core/components/field.html" with name="password" label=l type="password" required=True description=dsc attrs='minlength="8"' %}
{% endblock %}
{% block confirm_label %}{% translate "Create portal login" %}{% endblock %}
