{% if page.paginator.num_pages > 1 %}<div class="group justify-end pagination">
  {% for n in page.paginator.page_range %}
    {% if n == 1 or n == page.paginator.num_pages or n|add:"-2" <= page.number and page.number <= n|add:"2" %}
    <button type="button" class="page-btn{% if n == page.number %} active{% endif %}"
      hx-get="{{ path }}" hx-target="#{{ target }}" hx-swap="outerHTML" hx-vals='{"page": "{{ n }}"}'
      {% if include %}hx-include="{{ include }}"{% endif %}>{{ n }}</button>
    {% elif n == 2 or n == page.paginator.num_pages|add:"-1" %}<span class="dimmed">…</span>{% endif %}
  {% endfor %}
</div>{% endif %}
