{% load i18n web %}<div id="support_devices" class="table-region"><div class="table-wrap"><table class="table striped wide">
  <thead><tr><th>{% translate "Name" %}</th><th>{% translate "Role" %}</th><th>{% translate "Status" %}</th><th>{% translate "Last seen" %}</th><th>{% translate "Last sync" %}</th><th>{% translate "App version" %}</th></tr></thead>
  <tbody>{% for d in devices_rows %}<tr><td>{{ d.device_name }}</td><td>{{ d.device_role }}</td><td>{% status_badge d.status %}</td><td>{{ d.last_seen_at|dt }}</td><td>{{ d.last_sync_at|dt }}</td><td>{{ d.app_version|dash }}</td></tr>{% empty %}{% empty_row 6 %}{% endfor %}</tbody></table></div>
{% include "platform/support/_pages.html" with page=devices_page target="support_devices" %}</div>
